
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    color: hsl(192, 100%, 9%);
    font-family: 'Open Sans';
    font-weight: 400;
    width: auto;
}

p{
    color: hsl(208, 11%, 55%);
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-weight: 600;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header{
    background-image: url("bg-hero-desktop.svg");
    background-position: center;
    background-size: cover;
    background-color: hsl(193, 100%, 96%);  
}

header .pry-btn {
    margin-top: 40px;
}


.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
.heading img {
    position: relative;
    left: 0%;
    height: 300px;
    width: 100%;
    max-width: 400px;
}
.fans {
    text-align: left;
    width: 80%;
    margin: auto;
    padding: 20px;
}

.fans h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 1.2;
}
.fans p {
    line-height: 1.3;
}

.content {
    width: 80%;
    margin: 20px auto;
    
}
.content img {
    height: 300px;
    width: 400px;
    margin: 30px auto;
}

.grow, .flow, .users {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px auto;
    text-align: left;
}

.texts {
    width: 40%;
    margin: auto;
}

.pry-btn {
    background-color: hsl(322, 100%, 46%);
    height: 35px;
    width: 200px;
    border: 1px solid gray;
    border-radius: 20px;
    cursor: pointer;
}
.pry-btn:hover{
    background-color: hsl(322, 100%, 66%);
}
.pry-btn a {
    color: hsl(193, 100%, 96%);
    font-weight: 400;
}
.sec-btn {
    background-color: white;
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 35px;
    padding: 10px;
    position: relative;
    right: 10%;
}
.sec-btn a {
    color: hsl(192, 100%, 9%)
}

.action {
    width: 400px;
    height: 150px;
    margin: -10px auto 0;
    padding: 20px;
    font-weight: 700;
    border: 1px solid rgb(225, 222, 222);
    background-color: white;
    border-radius: 10px;
    position: relative;
    bottom: -50px;

}
.action button {
    margin-top: 20px;
}

/***************footer**********/
footer{
    background-color: hsl(192, 100%, 9%);
}
.info-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.info-div a, .info-div p {
    color: hsl(193, 100%, 96%);
    font-weight: 300;
}
.info-div img{
    
    margin: 10px auto;
}
.logo {
    width: 150px;
    height: 50px;
    filter: brightness(0) invert(1);
}

.contact, .info, .explore{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0px 20px;
    margin: 20px 10px;
    
}
.info-div a {
    margin-bottom: 20px;
}

.address {
    width: 350px;
    display: flex;
    justify-content: ;
    align-items: center;
    text-align: left;

}
.address img {
    margin-left: 10px;
}
.address p {
    margin-left: 20px;
}
.address a {
    margin: 10px 0 0 20px;
    width: 200px;
    position: relative;
    left: -110px;

}
.socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.socials img {
    filter: grayscale(100);

}
.social-media a{
    position: relative;
    right: 0;
    filter: brightness(0) invert(1);
}
.social-media a:hover {
    color: hsl(322, 100%, 66%);
    filter: none;
}

.copyright {
    position: relative;
    top: 80px;
}

@media only screen and (min-width: 1440px){
    .heading img {
        position: relative;
        left: 180px;
        height: 300px;
        width: 400px;
    }
      
}

@media only screen and (max-width: 485px) {

    body {
        display: block;
        width: auto;
        
    }
    .navbar {
        display: flex;
        justify-content: space-evenly;
        padding-top:30px;
    }
    .navbar a {
        font-size: 12px;
    }
    .navbar img {
        width: 150px;
        height: 50px;
        margin-right: 10%;
        
    }
    .sec-btn {
        width: 100px;
        height: 30px;
        position: relative;
        right: 0;
        cursor: pointer;
    }
    .sec-btn a{
        font-size: 10px;
        position: relative;
        bottom: 5px;
    }


    .heading {
        display: block;
        margin-bottom: 40px;
    }
    .heading h1 {
        font-size: 22px;
        margin-bottom: 20px;
        
    }
    .heading p {
        font-size: 15px;
    }
    .heading .pry-btn {
        position: relative;
        bottom: 20px;

    }

    .fans {
        width: 95%;
        text-align: center;
    }
    .fans img {
        width: 100%;
        position: relative;
        left: 0;
    }
    
    .content img {
        width: 100%;
    }
    .content .texts {
        width: 100%;
        text-align: center;
        margin: 20px auto;
    }
    .texts h3{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .texts p {
        font-size: 14px;
    }
    .grow, .flow, .users{
        display: block;
        margin-bottom: 50px;
    }
    .action{
        width: 90%;
        font-family: 'Open Sans';
        font-weight: 700;
    }
    .action h3 {
        font-size: 15px;
    }


    footer {
        height: 100%;
        width: 100%;
    }
    .info-div {
        display: block;
        width: 100%;
    }

    .contact, .info, .explore {
        display: block;
        width: 100%;
        position: relative;
        left: -30px;
    }


    .info a, .explore a {
        display: block;
        text-align: left;
        margin-left: 10px;
        position: relative;
        top: -20px;
    }
    .explore {
        position: relative;
        top: -90px;   
    }
    .socials {
        position: relative;
        top: -100px;
    }
    .socials img{

    }

    .copyright {
        position: relative;
        top: 0;
    }

}

